<script setup>
import TheCases from "@/components/TheCases.vue";
import BarChart from "@/components/Chart.vue";
import LineChart from "@/components/LineChart.vue";
</script>

<template>
  <main>
    <the-cases></the-cases>
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="card border-0 rounded">
          <div class="card-body">
            <h6 class="primary-text">Appeals</h6>
            <bar-chart />
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mt-3 mt-md-0">
        <div class="card border-0 rounded">
          <div class="card-body">
            <h6 class="primary-text">Incomes</h6>
            <line-chart />
          </div>
        </div>
      </div>
    </div>
  </main>
</template>
