<template>
  <div>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card border-0 shadow-sm">
          <div class="card-body">
            <form @submit.prevent>
              <div class="mb-3">
                <label for="patient" class="form-label">Patient</label>
                <input type="text" class="form-control" id="patient" v-model="copyCase.patient" :disabled="!editing">
              </div>
              <div class="mb-3">
                <select class="form-select" v-model="copyCase.insurance_id" :disabled="!editing">
                  <option :value="insurer.id" v-for="insurer in insurers"  :key="insurer.id" selected>{{ insurer.name }}</option>
                </select>
              </div>
              <div v-if="!editing">
                <button class="btn primary-button" @click="editing = true">Edit</button>
              </div>
              <div v-if="editing" class="d-flex gap-2">
                <button class="btn btn-secondary" type="button" @click="cancelEdit">Cancel</button>
                <button class="btn primary-button" type="button" @click="update">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios';
export default {
  data() {
    return {
      id: this.$route.params.id,
      cases: [],
      currentCase: {},
      currentCaseIndex: null, // needed for storage
      editing: false,
      copyCase: {}, // used for edition
      insurers: [],
    }
  },
  mounted() {
    this.getCases();
    this.getInsurers();
  },
  methods: {
    getInsurers() {
      const endpoint = '/data/insurers.json';
      axios.get(endpoint)
          .then((response) => {
            this.insurers = response.data
          })
          .catch(() => {
            alert('Could not get the insurers')
          })
    },
    getCases() {
      const cases = localStorage.getItem('cases');
      this.cases = JSON.parse(cases);
      this.findCase();
    },
    findCase() {

      this.currentCaseIndex = this.cases.findIndex((eachCase) => eachCase.id === Number(this.id));
      this.currentCase = this.cases[this.currentCaseIndex]
      this.copyCase = {...this.currentCase};
    },
    cancelEdit() {
      this.editing = false;
      this.copyCase = {...this.currentCase};
    },
    update() {
      // update insurance company name
      this.copyCase.insuranceCompany = this.insurers.find((insurer) => insurer.id === this.copyCase.insurance_id).name
      this.currentCase = this.copyCase;

      // updating array for storage
      this.cases.splice(this.currentCaseIndex, 1, this.currentCase);

      this.editing = false;
      localStorage.setItem('cases', JSON.stringify(this.cases));
    }
  }
}
</script>