<template>
  <div class="shadow-sm bg-white">
    <nav class="container navbar navbar-expand-lg bg-white">
      <div class="container-fluid">
        <router-link class="navbar-brand" to="/">
          <img src="/crosby-health-logo.png" alt="CrosbyHealth logo">
        </router-link>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <router-link to="/" class="nav-link active primary-text">Dashboard</router-link>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</template>
<script setup>
</script>