<template>
  <div class="col-md-6 col-lg-4">
    <form class="float-lg-right mt-2 mt-md-0" @submit.prevent>
      <label for="email-search"><small class="font-weight-bold">Search</small></label>
      <div class="input-group mb-3">
        <span class="input-group-text">
          <search-icon></search-icon>
        </span>
        <input v-model="searchValue" type="text" class="form-control" @keyup="search">
      </div>
    </form>
  </div>
</template>
<script>
import SearchIcon from "@/components/icons/SearchIcon.vue";

export default {
  components: {SearchIcon},
  data() {
    return {
      searchValue: '',
    }
  },
  methods: {
    search() {
      this.$emit('search', this.searchValue);
    }
  }
}
</script>