<template>
  <div class="table-responsive">
    <search-bar @search="filter"></search-bar>
    <table class="table">
      <thead>
      <tr>
        <th>Patient ID</th>
        <th>Patient Name</th>
        <th>Insurance Company</th>
        <th>Status</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <!--  using each case because case is a reserved word -->
      <tr v-for="eachCase in filteredCases" :key="eachCase.id" class="shadow-sm bg-white">
        <td>{{ eachCase.id }}</td>
        <td>{{ eachCase.patient }}</td>
        <td>{{ eachCase.insuranceCompany }}</td>
        <td>
          <span
              class="badge"
              :class="eachCase.status === 'Accepted' ? 'text-bg-success' : 'text-bg-warning'"
          >
              {{ eachCase.status }}
          </span>
        </td>
        <td>
          <router-link :to="`/case/${eachCase.id}`">
            Details
          </router-link>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
import SearchBar from "@/components/SearchBar.vue";
import axios from 'axios';

export default {
  components: {
    SearchBar
  },
  data() {
    return {
      cases: [],
      filteredCases: []
    }
  },
  mounted() {
    this.getCasesFromStorage();
  },
  methods: {
    getCasesFromStorage() {
      const cases = localStorage.getItem('cases');
      if (cases) {
        this.cases = JSON.parse(cases);
        this.filteredCases = this.cases;
      } else {
        this.getCases();
      }
    },
    getCases() {
      const endpoint = '/data/cases.json';
      axios.get(endpoint)
          .then((response) => {
            this.cases = response.data
            this.filteredCases = this.cases;
            localStorage.setItem('cases', JSON.stringify(this.cases));
          })
          .catch(() => {
            alert('Could not get the cases')
          })
    },
    filter(value) {
      value = value.toLowerCase(); // transform to lowercase for reliable comparison
      if (value === '') {
        // with empty filter we show all cases
        this.filteredCases = this.cases;
      } else {
        this.filteredCases = this.cases.filter((eachCase) => {
          const caseCopy = {...eachCase} // prevent value mutation
          caseCopy.patient = caseCopy.patient.toLowerCase();
          caseCopy.insuranceCompany = caseCopy.insuranceCompany.toLowerCase();

          return caseCopy.id.toString().includes(value) || caseCopy.patient.includes(value) || caseCopy.insuranceCompany.includes(value);
        })
      }
    }
  }
}
</script>
<style lang="sass">
$rounded-size: 5px
$primary-text: #8C8BA8

// General
body
  color: $primary-text
  font-size: 0.85rem
  font-family: 'Poppins', sans-serif
  background-color: #F8F9FF

.table
  border-spacing: 0 10px
  border-collapse: separate

.table thead th
  border: 0
  background-color: transparent
  color: $primary-text
  font-size: 0.75rem

.table tbody tr
  border-radius: $rounded-size
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important
.table tr td
  color: $primary-text
  padding: 0.5rem 1rem

  &:first-child
    border-top-left-radius: $rounded-size
    border-bottom-left-radius: $rounded-size

  &:last-child
    border-top-right-radius: $rounded-size
    border-bottom-right-radius: $rounded-size
</style>