:root {
    --primary-bg-color: #4D6BF7;
    --primary-text-color: #8C8BA8;
}
.primary-text {
    color: var(--primary-text-color)!important;
}

/* Components */
.primary-button {
    background: var(--primary-bg-color);
    color: white;
}
.primary-button:hover {
    background: var(--primary-bg-color);
    color: white;
}