<template>
  <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M16.2387 14.7634L13.9156 12.4411C14.9413 11.0986 15.5039 9.47035 15.5041 7.75214C15.5041 5.68152 14.6975 3.7347 13.2328 2.27057C11.7684 0.806442 9.82138 0 7.75007 0C5.67902 0 3.73179 0.806442 2.26735 2.27057C-0.755784 5.29333 -0.755784 10.2115 2.26735 13.2337C3.73179 14.6981 5.67902 15.5045 7.75007 15.5045C9.46864 15.5043 11.0973 14.9419 12.44 13.9164L14.7631 16.2388C14.9666 16.4425 15.2339 16.5444 15.5009 16.5444C15.7679 16.5444 16.0351 16.4425 16.2387 16.2388C16.6463 15.8315 16.6463 15.1707 16.2387 14.7634ZM3.743 11.7584C1.53361 9.54944 1.53386 5.95509 3.743 3.74591C4.8133 2.67608 6.23646 2.08666 7.75007 2.08666C9.26393 2.08666 10.6868 2.67608 11.7571 3.74591C12.8274 4.81598 13.417 6.23885 13.417 7.75214C13.417 9.26568 12.8274 10.6883 11.7571 11.7584C10.6868 12.8284 9.26393 13.4179 7.75007 13.4179C6.23646 13.4179 4.8133 12.8284 3.743 11.7584Z" fill="#4D6BF7"/>
    <circle cx="7.70289" cy="7.70253" r="5.81617" fill="white"/>
  </svg>
</template>